* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  height: 77px;
  width: 100%;
  padding: 0px 50px 0px 50px;
  display: flex;
  flex-direction: row;
}

.navbar .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.navbar h1 {
  margin: 0;
  font-size: 36px;
  background: linear-gradient(90deg, #8fcef5, #4986db);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar p {
  color: #4b5563;
  font-weight: 200;
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.sidebar {
  width: 240px;
  background-color: #7accff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 30px 0px;
  font-weight: 500;
}

.sidebar .group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar .item {
  color: white;
}

.sidebar .item-active {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
}

.main {
  padding: 30px 30px 30px 30px;
  background-color: #dbf0fd;
  overflow-x: auto;
}

.main .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  background-color: #009eff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
  height: 40px;
  width: 160px;
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 354px;
}

.card .top {
  height: 56px;
  background-color: #7accff;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  padding: 5px 16px 5px 16px;
}

.card .bottom {
  height: 268px;
  background-color: white;
  color: #4b5563;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  padding: 10px 20px 10px 20px;
}

.card .bottom .content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 10px;
}

.card .bottom .actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.label {
  font-weight: bold;
  flex-shrink: 0;
  color: #333;
}

.value {
  margin: 0;
  color: #4b5563;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
}
